.link {
    float: inline-end;
    margin: 10px;;
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
}
.ChatMetMij{
    position: fixed; bottom: 2%; right: 1%;
    height: 5%;
} 
h1{
    margin-top: 0%;
}
.foto2 {
    margin-right: 2%;
    height: 30%;
    width: 30%;
    display: inline;
    float: left;
}
.foto1{
    margin-right: 2%;
    height: 30%;
    width: 30%;
    display: inline;
    float: bottom;
}
